PORT=5000
MONGO_URI=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

SHIPROCKET_EMAIL=
SHIPROCKET_PASSWORD=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

CLIENT_URL=https://marvel-kids.vercel.app